.Footer {
  margin-top: 2rem;

  &-border {
    height: 2ex;
    border-top: 2px grey solid;
  }

  &-inner {
    display: flex;
    justify-content: space-between;

    a {
      color: #fbd9df;
      opacity: 0.4;

      &:hover {
        color: $primary-color;
        opacity: 1;
      }
    }
  }
}
