---
---

// Typography
$body-font: sans-serif;
$monospace: monospace;
$base-font-size: 16px;

// Colors
$primary-color: #41b6e6;
$secondary-color: red;
$background-color: #000000;
$font-color: #ffffff;

// Screen size for responsiveness
$small-screen: 400px;
$mid-screen: 768px;
$large-screen: 1024px;

@import "./reset";
@import "./global";
@import "./header";
@import "./footer";
@import "./home";
@import "./post";
@import "./blog";
